@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'poppins';
  
}

.content{
  max-width:1250px;
  margin:auto;
  padding:0px 30px;
}
.navibar{
  position:sticky;
  z-index:4;
  width:100%;
  padding:10px 0;
  
}
.navibar .content{
  display:flex;
  align-items:center;
  justify-content:space-between;
}
.logo{
  padding-left:20px;
}
.navibar .logo img{
  width:40px;
  height:40px;
}
.navibar .menu-list{
  display:inline-flex;
}
.menu-list li{
  list-style:none;
}
.menu-list li a{
  color:black;
  font-size:18px;
  font-weight:500;
  margin-left:25px;
  text-decoration:none;
  transition: all 0.3s ease;
}
a {
  background: linear-gradient(0deg, #1abc9c, #1abc9c) no-repeat right bottom / 0 var(--bg-h);
  transition: background-size 350ms;
  --bg-h: 100%;
}
a:where(:hover, :focus-visible) {
  background-size: 100% var(--bg-h);
  background-position-x: left;
}

.underline {
  padding-bottom: 2px;
  --bg-h: 2px;
}


.menu-list li a{
  color: black;
}
.icon{
  color:black;
  font-size:20px;
  cursor:pointer;
  display:none;
}
.icon.cancel-btn{
  position: absolute;
  right:30px;
  top:20px;
  color: white;
}
hr{
   border: 0;
    border-bottom: 1px solid black;
    background: black;
    width: 40%;
    margin-left: 30%;
}

h1{
  font-weight: 900;
}
.cv{
  padding: 5px;
  border: 2px solid #1abc9c;
  border-radius: 8px;
}

.bio {
  display:flex; 
  flex-direction:row;
  align-items:center;
  justify-content:center;
  margin:20px;
  gap:48%;
}

#home{
  column-count: 2;
  column-gap: 40px;
  column-rule-width: 1px;
  padding-bottom:38px;
  
}

.me{
  padding: 25% 0% 25% 20%;
}

.connect i{
  padding: 10px;
  font-size: 30px;
}
.connect i:hover{
  color: #1abc9c;
}

h2{
    font-size: 1.8rem;
    font-weight: 500;
   
    
    
}
p{
    font-size: 1.1rem;
    letter-spacing: 1px;
}
h3{
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 1.5rem;
  padding:90px 0 15px 0;
}
#skills{
  text-align: center;
  
   padding-bottom: 60px;
   padding-top: 70px;
}
.lang-badges{
  padding:0 20%;

}
.logo{

  padding:0 0 10px 0;
}
#projects{
  padding-bottom: 20px;
  padding-top: 70px;
  text-align: center;
}
.project-heading, .skills-heading, .contact-heading{
  padding-bottom: 25px;
}
.container{
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.cards{
  padding:15px 0 15px 45px;
}

.card-img-top{
    height: 280px;

}
#contact{
  padding-bottom: 30px;
  justify-content: center;
}

form{      
  justify-content: center;
  align-items: center;
  
  display: flex;
  flex-direction: column;
}


input, textarea{   
    margin-bottom: 20px;
 width: 400px;
border: none;
border-bottom: 2px solid black;
}

input:focus{
outline: none;
}
textarea:focus{
  outline: none;
}

@media (max-width: 868px){
  .icon{
    display:block;
  }
  .icon.hide{
    display:none;
  }
 
  .navibar .menu-list{
    position:fixed;
    top:0;
    left:-100%;
    height:100vh;
    width:100%;
    max-width:400px;
    background-color:black;
    opacity:0.8;
    display:block;
    padding:40px;
    text-align:center;
    transition: all 0.3s ease;
  }
  
  .navibar .menu-list.active{
    left:0%;
  }
  
  .navibar .menu-list li{
    margin-top:45px;
  }
  
  .navibar .menu-list li a{
    font-size:23px;   
    color: white;
  }
  #home{
      column-count: 1;
  }
  .me {
      padding: 50px;
      text-align: center;
  }
  .avatar{
      display: none;
  }
  .lang-badges{
    padding: 20px;
  }
  #contact{
    display: flex;
    flex-direction: row;
  }
}